* {
    font-style: italic;
}
#page-top {
    background: url('../img/fishes.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
}
#sideNav .navbar-nav .nav-item .nav-link{
    font-weight:500;
    text-transform:uppercase;
    color: white;
}
#sideNav .navbar-nav .nav-item .nav-link:hover{
    color: rgb(0, 0, 36);
    text-shadow: 2px 1px white;
}
#home, #goals, #contact {
    background-color: rgb(0, 0, 36);
    width: 48em;
    height: 40em;
}
#contact {
    height: 50em;
}
.textAnim1 {
    margin-top: -5em;
}
.textAnim2 {
    margin-top: -2.5em;
}
.textAnim3 {
    margin-top: 0;
}
.textAnim4 {
    margin-top: 2.5em;
}
.textAnim5 {
    margin-top: 5em;
}
.text {
    margin-top: 1em;
    margin-left: -1em;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: -0.30em;
}
#becode {
    width: 20em;
    margin-top: 15em;
    padding-left: 1.5em;
}
#becodeObject {
    width: 5em;
    height:auto;
}
.carre {
    width: 1.6em;
    height: 1.6em;
    margin-bottom: 0.75em;
    margin-right: 1em;
}
h2 {
    color: rgb(0, 0, 36);
    text-shadow: 1px 2px white;
    font-size: 1.35em;
    margin-top: .5em;
    margin-left: 4.5em;
}
#objectifs, #contTitle {
    color: white;
    text-align: initial;
    margin-left: 4.5em;
    text-shadow: 1px 2px rgb(0, 0, 36);
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(0, 0, 36);
    text-shadow: 1px 1px white;
}
#skills{
    margin-left: 2em;
}
h3 {
    text-align: center;
    font-size: 1.25em;
    text-shadow: 1px 1px 2px black, 0 0 10px blue, 0 0 5px #5fc3d2;
    padding: 1em;
    color: white;
}
.object {
    text-align: center;
    color: white;
    text-shadow: initial;
}
#objectContent {
    width: 20em;
}
.form-group {
    width: 15em;
    margin-bottom: 0;
    margin-left: 2em;
    padding-top: 1em;
}
.btn {
    margin-top: 2em;
    margin-left: 2em;
    background-color: #5fc3d2;
    color: rgb(0, 0, 36);
}
#contTitle {
    color: white;
    text-align: initial;
    margin-top: 1em;
    margin-left: 4.5em;
    text-shadow: 1px 2px rgb(0, 0, 36);
}
#becodeObject {
    margin-top: -0.3em;
}
.projets {
    text-transform: lowercase;
    color: white;
    text-shadow: 2px 1px rgb(0,0, 36);
}
#projets {
    text-transform: lowercase;
    text-transform: capitalize;
    color: white;
    text-shadow: 2px 1px rgb(0,0,36);
}
#foodog, #milocs, #photo {
    margin-left: 3em;
}
#milocs {
    margin-top: 1em;
}
#photo {
    margin-top: 1em;
}
.portfolio {
    margin-top: -1em;
}
.portfolioTitle {
    margin-top: 2em;
    margin-left: 1.25em;
    text-align: center;
}
#first, #second, #third {
    margin-top: -2em;
    font-size: 0.75em;
    text-transform: lowercase;
    text-transform: capitalize;
}
#cours {
    font-size:0.5em;
    font-weight: 600;
    margin-left: 5.5em;
    margin-top: -1em;
    color: red;
    text-shadow: 2px 1px rgb(0, 0, 36) 1px 2px white;
}
.footer {
    height: 100px;
    bottom: 0;
    width: 48em;
    background-color: rgb(0, 0, 36);
    margin-top: 6em;
    margin-left: -2em;
    color: white;
}
.listingContact {
    margin-left: -2.5em;
}
#address {
    color: white;
    font-size: 0.2em;
}
@media (min-width:640px) {
    .textAnim1, .textAnim2, .textAnim3, .textAnim4, .textAnim5 {
        font-size: 1.25em;
        margin-left: 10em;
    }
    .textAnim1 {    
        margin-top:-6em;
    }
    .textAnim2 {
        margin-top: -4em;
    }
    .textAnim3 {
        margin-top: -2em;
    }
    .textAnim4 {
        margin-top: .5em;
    }
    .textAnim5 {
        margin-top: 3em;
    }
    #becode {
        margin-left: 12em;
        margin-bottom: 4em;
    }
    .text {
        font-size: 1.75em;
        margin-left: 2.5em;
        margin-top: -1.5em;
        letter-spacing: -0.20em;
    }
    #capa {
        margin-top: 1em;
        margin-left: 8em;
    }
    #skills {
        margin-left: 5em;
    }
    #skillProjet {
        margin-left: 12em;
    }
    h3 {
        font-size: 1.5em;
        padding: 1.5em;
    }
    .object {
        margin-left: 10em;
        font-size: 1.75em;
    }
    #foodog {
        height: 150px;
    }
    #first {
        font-size: 1em;
        margin-left: 8em;
        margin-top: -7em;
    }
    #milocs {
        margin-top: 4em;
        height: 150px;
    }
    #second {
        font-size: 1em;
        margin-left: 11em;
        margin-top: -8em;
    }
    #photo {
        margin-top: 2.5em;
        height: 150px;
    }
    #third {
        font-size: 1em;
        margin-left: 11em;
        margin-top: -8em;
    }
    #objectifs {
        margin-left: 10em;
    }
    #objectifTitle {
        width: 30em;
        margin-left: -2.5em;
    }
    .object {
        margin-left: 1em;
        width: 20em;
    }
    #about {
        margin-left: 10em;
    }
    #aboutText {
        margin-left: 2em;
    }
    #listing {
        margin-top: 8em;
        margin-left: 10em;
    }
    #contTitle {
        margin-left: 12em;
    }
    .form-group {
        width: 20em;
        margin-left: 10em;
    }
    .btn {
        margin-left: 10em;
    }
    #home, #goals, #contact {
        width: 48em;
        height: 48em;
    }
}
@media (min-width: 641px) and (max-width: 991px) {
    .textAnim1, .textAnim2, .textAnim3, .textAnim4, .textAnim5 {
        margin-left: 20em;
    }
    #becode {
        margin-left: 25em;
    }
    #text {
        margin-left: 11em;
    }
    #home, #goals, #contact {
        width: 61.875em;
        height: 48em;
    }
    #contact {
        height: 56em;
    }
    #capa {
        margin-left: 9em;
        font-size: 2em;
    }
    #skillProjet {
        margin-left: 12em;
        font-size: 2em;
    }
    #skills {
        margin-left: 12em;
    }
    #skillProjet {
        margin-top: 0.5em;
    }
    #foodog, #milocs, #photo {
        width: 15em;
        height: 10em;
    }
    .folio2 {
        margin-top: 2em;
    } 
    .folio3 {
        margin-top: 1.5em;
    }
    #first {
        margin-top: -7.5em;
        margin-left:8em;
        font-size: 1.25em;
    } 
    #second {
        margin-top: -8em;
        margin-left: 15em;
        font-size: 1.25em;
        text-align: initial;
    } 
    #third {
        font-size: 1.25em;
        margin-left: 12em;
        margin-right: 2em;
        margin-top: -8em;
    }  
    #objectifs {
        margin-top: 2em;
        margin-left: 17.5em;
    }
    #objectContent {
        width: 40em;
    }
    #objectifTitle {
        margin-left: 5em;
        width: 30em;
    }
    .object {
        width: 30em;
        margin-left: 1.5em;
    }
    #about {
        margin-top: 1em;
        margin-left: 17.5em;
    }
    #listing {
        margin-top: 30em;
        margin-left: -35em;
        width: 40em;
    }
    #aboutText {
        margin-left: 10em;
        padding-right: 5em;
        font-size: 1.25em;
    }
    #contTitle {
        margin-left: 12.5em;
        font-size: 2em;
    }
    .form-group {
        width: 30em;
        margin-left: 15em;
        margin-bottom: 1em;
    }
    .btn {
        margin-left: 15em;
    }
    #listingContact {
        margin-left: 20em;
    }
    #address {
        font-size: 0.3em;
    }
}

@media (min-width:992px){
    #home, #goals, #contact {
        width: 100%;
        height: 48em;
    }
    #contact {
        height: 60em;
    }
    .textAnim1, .textAnim2, .textAnim3, .textAnim4, .textAnim5 {
        font-size: 2em;
        margin-left: 18em;
    }
    .textAnim1 {
        margin-top: -4em;
    }
    .textAnim2 {
        margin-top: -2em;
    }
    .textAnim3 {
        margin-top: 0em;
    }
    .textAnim4 {
        margin-top: 2em;
    }
    .textAnim5 {
        margin-top: 4em;
    }
    #image {
        margin-top: 9em;
        margin-left: 6em;
    }
    #becode {
        margin-left: 28em;
        width: 30em;
    }
    .text {
        font-size: 2em;
        margin-left: 15em;
    }
    .nav-item {
        font-size: 1.5em;
        text-shadow: 1px 2px gray;
    }
    h2 {
        margin-top: -5em;
        text-decoration: underline;
    }
    #skills {
        margin-left: 12.5em;
    }
    .carre {
        width: 2em;
        height: 2em;
        margin-bottom: 0.75em;
    }
    p {
        margin-bottom: 1.2rem;
        font-size: 1.5em;
    }
    #capa {
        margin-top: -7.5em;
        font-size: 2em;
        padding: 1em;
    }
    #skillProjet {
        margin-left: 20em;
        margin-top: -2em;
        font-size: 2em;
        text-decoration: underline;
    }
    #foodog, #milocs, #photo {
        width: 400px;
        height: 250px;
    }
    #milocs {
        margin-top: 5em;
    }
    #photo {
        margin-top: 5em;
    }
    #first, #second, #third {
        font-size: 1.5em;
        text-align: initial;
        margin-left: 15em;
    }
    #cours {
        font-size: 1em;
    }
    #objectifs {
        font-size: 2em;
        margin-left: 20em;
        text-decoration: underline;
    }
    #objectContent {
        margin-left: 20em;
        width: 80em;
        font-size: 1.25em;
    }
    #becodeObject {
        margin-top: -0.3em;
    }
    #about {
        font-size: 2em;
        margin-left: 20em;
        margin-top: 1em;
        text-decoration: underline;
    }
    #aboutText {
        margin-left: 10em;
        text-align: center;
    }
    #listing {
        margin-top: 40em;
        margin-left: -80em;
        width: 40em;
    }
    #linkGit {
        width: 120px;
        height: 120px;
    }
    .links {
        width: 100px;
        height: 100px;
    }
    #contTitle {
        font-size: 2em;
        margin-left: 20em;
        text-decoration: underline;
    }
    label {
        color: white;
        font-size: 1.25em;
    }
    .form-group {
        width: 30em;
        margin-left: 30em;
    }
    .btn {
        margin-left: 30em;
    }
    #listingContact {
        margin-left: 30em;
        margin-top: 12em;
        width: 80em;
    }
    #footGit {
        width: 80px;
        height: 80px;
    }
    .footImg {
        width: 60px;
        height: 60px;
    }
    #address {
        font-size: 0.4em;
    }
    form .form-control::-moz-placeholder {
        color: #fff;
        opacity: 1;
    }
    form .form-control:-ms-input-placeholder {
        color: #fff;
    }
    form .form-control::-webkit-input-placeholder {
        color: #fff;
    }
}
